@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}

:root{
    --color-primary: #4d8fbd;
    --color-secundary: #4D596B;
    --color-icon: #fff;
    --color-cuarto: #9ABFCF;
}