@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}
@font-face {
    font-family: "SF-Pro-Text-Bold";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Bold.otf);
}
:root{
    --color-primary:  #4d8fbd;
    --color-secundary: #4D596B;
    --color-ternario: #fff;
    --color-cuarto: #9ABFCF;
    --color-se: #364457;
    --color-sec: #4d6585;
    --color-blue: #204068;
    --color-bluee: #213550;
    --color-shado-tranparent: 0px 0px 10px rgba(0, 0, 0, 0.216);
    --color-shado-transparent: 0px 0px 10px rgba(0, 0, 0, 0.416);
}