<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETO</title>
    <script src="js/app.js" type="module" defer></script>
    <link rel="shortcut icon" href="../storage/img/icono0.svg" type="image/svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/pro.css">
    
</head>
<body>
    <div class="bann">
        <img src="../storage/img/transp.png">
    </div>
    <header class="header">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="90px" viewBox="0 0 24 24">
                <path fill="#ffff" d="M12 12.5a3.5 3.5 0 1 0 0 7a3.5 3.5 0 0 0 0-7M10.5 16a1.5 1.5 0 1 1 3 0a1.5 1.5 0 0 1-3 0"/>
                <path fill="#ffff" d="M17.526 5.116L14.347.659L2.658 9.997L2.01 9.99V10H1.5v12h21V10h-.962l-1.914-5.599zM19.425 10H9.397l7.469-2.546l1.522-.487zM15.55 5.79L7.84 8.418l6.106-4.878zM3.5 18.169v-4.34A3.008 3.008 0 0 0 5.33 12h13.34a3.009 3.009 0 0 0 1.83 1.83v4.34A3.009 3.009 0 0 0 18.67 20H5.332A3.01 3.01 0 0 0 3.5 18.169"/>
              </svg>
            <h1>BitSecure</h1>
        </div>
    </header>
    <div class="banner">
        <img src="../storage/img/banner.svg" alt="">
    </div>
    <main class="profile">
        <section class="profile__balance">
            <article class="profile__titule">
                <h3>Hi, Carolina</h3>
                <p>here's your balance.</p>
            </article>
            <article class="profile__process">
                <div class="profile__savings">
                    <small>savings</small>
                    <label for="savings"> <sub>$</sub> 15,615</label>
                    <progress id="savings" max="100" value="80"><</progress>
                </div>
                <div class="profile__assets">
                    <small>assets</small>
                    <label for="assets"> <sub>$</sub> 9,615</label>
                    <progress id="assets" max="100" value="40"><</progress>
                </div>
            </article>
        </section>
        <section class="profile__activities"">
            <section class="activities_carusel">
                <article class="activities__title">
                    <h4>Activities</h4>
                </article>
                <article class="activities__carusel__card">
                    <div class="activities__carusel__container">

                        <div class="activities__carusel__img">
                            <i class='bx bx-search-alt-2'></i>
                            <h4>Search</h4>
                        </div>
                        <div class="activities__carusel__img">
                            <i class='bx bxs-cart-add'></i>
                            <h4>Shopping</h4>
                        </div>
                        <div class="activities__carusel__img">
                            <i class='bx bxs-calendar'></i>
                            <h4>Calendar</h4>
                        </div>
                        <div class="activities__carusel__img">
                            <i class='bx bxs-user-account' ></i>
                            <h4>Account</h4>  
                        </div>
                        <div class="activities__carusel__img">
                            <i class='bx bxs-shield-plus' ></i>
                            <h4>Privacy</h4>
                        </div>
                        <div class="activities__carusel__img">
                            <i class='bx bxs-help-circle' ></i>
                            <h4>Help</h4>
                        </div>
                        <div class="activities__carusel__img">
                            <i class='bx bx-send'></i>
                            <h4>Send</h4>
                        </div>
                        <div class="activities__carusel__img">
                            <i class='bx bx-money'></i>
                            <h4>Pay</h4>
                        </div>
                        <div class="activities__carusel__img">
                            <i class='bx bxs-brightness'></i>
                            <h4>More</h4>
                        </div>
                    </div>
                </article>
            </section>
        </section>
        <article class="transactions">
            <div class="transactions__title">
                <div >
                <h3>Transactions</h3>
            </div>
            <div class="transactions__balance">
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__up">
                            <img class="upArrow" src="../storage/img/arroz.png" alt="img1">
                        </div>
                        <div>
                            <p>food & beverage</p>
                            <small>Mercagan</small>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p>+28.11</p>
                    <small>feb 21</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__down">
                            <img class="downArrow" src="../storage/img/store.png" alt="img2">
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>H&M 1257****</small>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p>-15.64</p>
                    <small>Jan 15</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__up">
                            <img class="upArrow" src="../storage/img/arroz.png" alt="img1">
                        </div>
                        <div>
                            <p>food & beverage</p>
                            <small>Zirus</small>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p>+28.11</p>
                    <small>Apr 17</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__down">
                            <img class="downArrow" src="../storage/img/store.png" alt="img2">
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>Falabella</small>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p>-77.604</p>
                    <small>May 24</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__up">
                            <img class="upArrow" src="../storage/img/arroz.png" alt="img1">
                        </div>
                        <div>
                            <p>food & beverage</p>
                            <small>Arepiz</small>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p>+28.11</p>
                    <small>Mar 10</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__down">
                            <img class="downArrow" src="../storage/img/store.png" alt="img2">
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>Channel</small>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p>-98.94</p>
                    <small>Jul 28</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__up">
                            <img class="upArrow" src="../storage/img/arroz.png" alt="img1">
                        </div>
                        <div>
                            <p>food & beverage</p>
                            <small>KFC</small>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p>+28.11</p>
                    <small>Sep 21</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__down">
                            <img class="downArrow" src="../storage/img/store.png" alt="img2">
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>NAF NAF</small>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p>-57.13</p>
                    <small>Oct 15</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__up">
                            <img class="upArrow" src="../storage/img/arroz.png" alt="img1">
                        </div>
                        <div>
                            <p>food & beverage</p>
                            <small>Burger King</small>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p>+28.11</p>
                    <small>Dec 12</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__down">
                            <img class="downArrow" src="../storage/img/store.png" alt="img2">
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>Koaj</small>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p>-157.64</p>
                    <small>Jan 15</small>
                </div>
                </div>
            </div>
        </article>
        </section>
    </main>
    <nav class="menu">
        <ul>
            <li>
                <a href="../views/balance.html"><i class='bx bxs-wallet'></i></a>
            </li>
            <li>
                <a href="../index.html"><i class='bx bxs-home'></i></a>
            </li>
            <li>
                <a href="../views/profile.html"><i class='bx bxs-user-pin'></i></a>
            </li>
        </ul>
    </nav>
</body>
</html>